<template>
  <div class="bg-white shadow rounded-lg p-6">
    <div class="text-3xl mb-8 text-gray-600">Tambah User</div>
    <div class="w-full lg:w-5/6">
      <div class="grid lg:grid-cols-2 gap-6 mt-4">
        <FormInput label="Nama" name="name" v-model="form.name" :required="true" />
        <FormInput label="Username" name="username" v-model="form.username" :required="true" />
        <FormInput label="Email" name="email" v-model="form.email" :required="true" />
        <FormInput label="Password" name="password" v-model="form.password" :required="true" type="password" />
      </div>
    </div>
    <div class="border-t mt-6 pt-3">
      <button class="btn-action" @click="submit()"
        :class="loading ? 'opacity-50 cursor-not-allowed' : ''"
        :disabled="loading">
        Save
      </button>
    </div>
  </div>
</template>

<script>
export default {
  middleware: "auth",
  layout: "teacher",
  data() {
    return {
      form: {
        name: '',
        username: '',
        email: '',
        password: '',
      },
      errors: {},
      loading: false
    }
  },
  methods: {
    async submit() {
      this.loading = true
      try {
        await this.$axios.$post('/user', this.form)
        this.$toast.show({
          type: 'success',
          title: 'Sukses',
          message: 'Data berhasil dimasukkan',
        })
        this.form = {
          name: '',
          username: '',
          email: '',
          password: '',
        }
      } catch (e) {
        if (e.response.data && e.response.data.errors) {
          this.errors = e.response.data.errors
        }
        this.$toast.show({
          type: 'danger',
          title: 'Error',
          message: 'Gagal menyimpan data. Mohon cek formulir Anda',
        })
      }
      this.loading = false
    }
  }
}
</script>

<style>

</style>