<template>
  <div class="font-mono bg-gray-400">
		<!-- Container -->
		<div class="container mx-auto">
			<div class="flex justify-center px-6">
				<!-- Row -->
				<div class="w-full xl:w-3/4 lg:w-11/12 flex">
					<!-- Col -->
					<div
						class="w-full h-auto bg-gray-400 hidden lg:block lg:w-5/12 bg-cover rounded-l-lg"
						style="background-image: url('https://source.unsplash.com/Mv9hjnEUHR4/600x800')"
					></div>
					<!-- Col -->
					<div class="w-full lg:w-7/12 bg-white p-5 rounded-lg lg:rounded-l-none">
						<h3 class="pt-4 text-2xl text-center">Create an Account!</h3>
						<form class="px-8 pt-6 pb-8 mb-4 bg-white rounded">
							<div class="mb-4 md:flex md:justify-between">
								<div class="mb-4 md:mr-2 md:mb-0">
									<label class="block mb-2 text-sm font-bold text-gray-700" for="firstName">
										Nama
									</label>
									<input
										class="w-full px-3 py-2 text-sm leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline"
										:class="{
                      'border-red-500': errors.name != null,
                    }"
										id="firstName"
                    v-model="form.name"
										type="text"
										placeholder="Masukkan Nama Anda"
									/>
									<p class="text-xs italic text-red-500" v-if="errors.name">{{ errors.name }}</p>
								</div>
								<div class="md:ml-2">
									<label class="block mb-2 text-sm font-bold text-gray-700" for="lastName">
										Username
									</label>
									<input
										class="w-full px-3 py-2 text-sm leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline"
										:class="{
                      'border-red-500': errors.username != null,
                    }"
										id="lastName"
                    v-model="form.username"
										type="text"
										placeholder="Nama akun anda"
									/>
									<p class="text-xs italic text-red-500" v-if="errors.username">{{ errors.username }}</p>
								</div>
							</div>
							<div class="mb-4">
								<label class="block mb-2 text-sm font-bold text-gray-700" for="email">
									Email
								</label>
								<input
									class="w-full px-3 py-2 mb-3 text-sm leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline"
                  :class="{
                    'border-red-500': errors.email != null,
                  }"
									id="email"
                  v-model="form.email"
									type="email"
									placeholder="Email"
								/>
								<p class="text-xs italic text-red-500" v-if="errors.email">{{ errors.email }}</p>
							</div>
							<div class="mb-4 md:flex md:justify-between">
								<div class="mb-4 md:mr-2 md:mb-0">
									<label class="block mb-2 text-sm font-bold text-gray-700" for="password">
										Password
									</label>
									<input
										class="w-full px-3 py-2 mb-3 text-sm leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline"
										:class="{
                      'border-red-500': errors.password != null,
                    }"
                    id="password"
                    v-model="form.password"
										type="password"
										placeholder="******************"
									/>
									<p class="text-xs italic text-red-500" v-if="errors.password">{{ errors.password }}</p>
								</div>
								<div class="md:ml-2">
									<label class="block mb-2 text-sm font-bold text-gray-700" for="c_password">
										Ulangi Password
									</label>
									<input
										class="w-full px-3 py-2 mb-3 text-sm leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline"
										:class="{
                      'border-red-500': errors.password_confirm != null,
                    }"
										id="c_password"
                    v-model="form.password_confirmation"
										type="password"
										placeholder="******************"
									/>
									<p class="text-xs italic text-red-500" v-if="errors.password_confirm">{{ errors.password_confirm }}</p>
								</div>
							</div>
							<div class="mb-6 text-center">
								<button
									class="w-full px-4 py-2 font-bold text-white bg-blue-500 rounded-full hover:bg-blue-700 focus:outline-none focus:shadow-outline"
									type="button"
                  @click="register"
								>
									Register Account
								</button>
							</div>
							<hr class="mb-6 border-t" />
							<div class="text-center">
								<a
									class="inline-block text-sm text-blue-500 align-baseline hover:text-blue-800"
									href="#"
								>
									Forgot Password?
								</a>
							</div>
							<div class="text-center">
								<a
									class="inline-block text-sm text-blue-500 align-baseline hover:text-blue-800"
									href="./index.html"
								>
									Already have an account? Login!
								</a>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
export default {
  data() {
    return {
      form: {
        name: '',
        email: '',
        password: '',
        password_confirmation: '',
        username: '',
      },
      errors: {}
    }
  },
  methods: {
    async register() {
      this.errors = {}
      try {
        await this.$axios.post('/auth/register', this.form)
        this.$toast.show({
          type: 'success',
          title: 'Sukses',
          message: 'Registrasi sukses',
        })
      } catch (e) {
        if (e.response.data && e.response.data.errors) {
          const errors = e.response.data.errors
          this.errors = e.response.data.errors
          for (var i = 0; i < errors.length; i++) {
            this.$set(this.errors, errors[i].title, errors[i].detail)
          }
        }
        this.$toast.show({
          type: 'danger',
          title: 'Error',
          message: 'Mohon cek formulir Anda',
        })
      }
    }
  }
}
</script>

<style>

</style>