<template>
  <div class="max-w-screen-xl mx-auto">
    <!-- header -->
    <header class="flex items-center justify-between py-2 border-b">
      <a href="#" class="px-2 lg:px-0 uppercase font-bold text-purple-800">LOGO</a>
      <ul class="inline-flex items-center">
        <li class="px-2 md:px-4">
          <a href class="text-purple-600 font-semibold hover:text-purple-500">Home</a>
        </li>
        <li class="px-2 md:px-4">
          <a href class="text-gray-500 font-semibold hover:text-purple-500">About</a>
        </li>
        <li class="px-2 md:px-4">
          <a href class="text-gray-500 font-semibold hover:text-purple-500">Press</a>
        </li>
        <li class="px-2 md:px-4">
          <a href class="text-gray-500 font-semibold hover:text-purple-500">Contact</a>
        </li>
        <li class="px-2 md:px-4 hidden md:block">
          <a href class="text-gray-500 font-semibold hover:text-purple-500">Login</a>
        </li>
        <li class="px-2 md:px-4 hidden md:block">
          <a href class="text-gray-500 font-semibold hover:text-purple-500">Register</a>
        </li>
      </ul>
    </header>
    <!-- header ends here -->

    <Nuxt />

    <!-- footer -->
    <footer class="border-t mt-32 pt-12 pb-32 px-4 lg:px-0">
      <div class="flex">
        <div class="w-full md:w-1/3 lg:w-1/4">
          <h6 class="font-semibold text-gray-700 mb-4">Company</h6>
          <ul>
            <li>
              <a href class="block text-gray-600 py-2">Team</a>
            </li>
            <li>
              <a href class="block text-gray-600 py-2">About us</a>
            </li>
            <li>
              <a href class="block text-gray-600 py-2">Press</a>
            </li>
          </ul>
        </div>

        <div class="w-full md:w-1/3 lg:w-1/4">
          <h6 class="font-semibold text-gray-700 mb-4">Content</h6>
          <ul>
            <li>
              <a href class="block text-gray-600 py-2">Blog</a>
            </li>
            <li>
              <a href class="block text-gray-600 py-2">Privacy Policy</a>
            </li>
            <li>
              <a href class="block text-gray-600 py-2">Terms & Conditions</a>
            </li>
            <li>
              <a href class="block text-gray-600 py-2">Documentation</a>
            </li>
          </ul>
        </div>
      </div>
    </footer>
  </div>
</template>

<style>
html,
body {
  @apply bg-gray-100;
}
</style>
